<div class="verb-card verb-<%= verb.id %>">

  <div class="card-body">
    <div class="card-title"><%= verb.infinitiv %></div>

    <div class="flip-card translation">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <span>Show translation</span>
        </div>
        <div class="flip-card-back">
          <%= verb.translations %>
        </div>
      </div>
    </div>

    <div class="answer-container">
      <%= form_with url: root_path, authenticity_token: false do |f| %>

        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.text_field :presens, placeholder: "presens", class: 'form-control', data: {answer: verb.presens} %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.text_field :preteritum, placeholder: "preteritum", class: 'form-control', data: {answer: verb.preteritum} %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <%= f.text_field :partizip_zwei, placeholder: :partizip_zwei, class: 'form-control', data: {answer: verb.partizip_zwei} %>
          </div>
        </div>

      <% end %>
    </div>
    <div class="btn-container">
      <a href="#" class="btn btn-primary card-check">Check</a>
    </div>
  </div>

</div>
