<div class="verb-card verb-<%= verb.id %>">

  <div class="card-body">
    <div class="card-title"><%= verb.infinitiv %></div>

    <div class="flip-card translation">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <span>Show translation</span>
        </div>
        <div class="flip-card-back">
          <%= verb.translations %>
        </div>
      </div>
    </div>

    <div class="answer-container">
      <% targets = [:presens, :preteritum, :partizip_zwei] %>
      <%= form_with url: root_path, authenticity_token: false do |f| %>
        <% targets.each do |symbol| %>
          <div class="form-group row">
            <div class="col-sm-12 input-container">
              <%= f.text_field symbol, placeholder: symbol, class: 'form-control verb-input', data: {answer: verb[symbol], tip: "#tip-#{verb.id}-#{symbol.id2name}"} %>
              <div id="tip-<%= verb.id %>-<%= symbol.id2name %>" class="input-tip alert alert-danger">
                <%= verb[symbol] %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="btn-container">
      <a href="#" class="btn btn-primary card-check">Check</a>
    </div>
  </div>

</div>
