<div class="verb-card">

  <div class="card-body">
    <div class="card-title"><%= verb.infinitiv %></div>

    <div class="translation">
      <div class="dummy">
        Show translation
      </div>
      <div class="translation">
        <%= verb.translations %>
      </div>
    </div>

    <div class="answer-container">
      <%= form_with url: root_path do |f| %>
      <%= f.text_field :presens, placeholder: "presens" %>
      <%= f.text_field :preteritum, placeholder: "preteritum" %>
      <%= f.text_field :partizip_zwei, placeholder: :partizip_zwei %>
      <% end %>
    </div>
    <a href="#" class="btn btn-primary">Check</a>
  </div>

</div>
