<!DOCTYPE html>
<html>
  <head>
    <title>Irven: train irregular verb!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/base/header'%>
    <%= yield %>
    <%= render 'layouts/base/footer'%>
  </body>
</html>
